body {
  margin: 0;
  background-color: #dad7cd;
  font-family: "Inter", sans-serif;
}
.container {
  text-align: center;
  font-size: 30px;
  color: #344e41;
}
input {
  padding: 20px 30px;
  width: 300px;
  border: 3px solid #344e41;
  border-radius: 20px;
}
.material-symbols-outlined {
  height: 40px;
  width: 40px;
}
::placeholder {
  color: #344e41;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
}
#submit {
  width: 110px;
  font-weight: bold;
  color: #344e41;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#submit:hover {
  background-color: #344e41;
  color: white;
}
